
 <h1>SP INTERNATIONL SCHOOL</h1> 
<div class="img">
    <img  src="https://media.istockphoto.com/photos/education-high-school-building-entrance-copyspace-and-sky-picture-id173761967?k=20&m=173761967&s=612x612&w=0&h=aXM0Ex49wqFh2_MLQxNM6i3GXnPxiahrz2uwnenHV5o=" id="img" alt="" height="680px" width="1520px">

<div class="box">
   
    <hr class="new">
<div class="container">
<form>
    <div class="form-group">
        <h2 style="color: rgb(22, 23, 20); text-align: center;">Student Registration</h2>
        <label for="firstname">Full Name:</label><br>
        <input type="text" name="name" class="form-control"
            placeholder="Enter Your Name" required />
    </div>
    <div class="form-group">
        <label for="username">Username:</label><br>
        <input type="text" name="username" class="form-control"
            placeholder="Enter Your Username" required />
    </div>

    <div class="form-group">
        <label for="email">Email:</label><br>
        <input type="text"  name="email" class="form-control"
            placeholder="Enter your Email" required />
    </div>

    <div class="form-group">
        <label for="password">Password:</label><br>
        <input type="password"  name="password" class="form-control"
            placeholder="Enter your password" required />
    </div>
    <div class="form-group">
        <label for="mobilenumber">Mobile No:</label><br>
        <input type="number"  name="mobilenumber" class="form-control"
            placeholder="Enter Your Mobile Number" required />
    </div>
    <div class="form-group">
        <label for="gender">Gender:</label><br>
        <select  name="gender" class="form-control"
            placeholder="Select Your Gender" required >
            <option value="">-select-</option>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
        </select>
    </div>
    <div class="form-group">
        <label for="address">Address:</label><br>
        <input type="text" name="addr" class="form-control"
            placeholder="Enter Your Address:" required />
    </div>
    <div class="button">
        <input type="submit" value="Register"routerLink="/login" class="btn btn-success" />

        <input type="submit" value="Login"routerLink="/Login" class="btn btn-success" />
    </div>
</form>
</div>
</div>
<div class="signin">
    <!-- <p>Already have an account? <a  routerLink="" role="button">Login</a></p> -->
  </div>
</div>
